.App {
  text-align: center;
  white-space: nowrap;
}

.App-logo {
  animation: fade infinite 1s linear;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}
